
IP_ADDRESS=


DATABASE_URL=

NODE_ENV=


PORT=


BCRYPT_SALT_ROUNDS=

JWT_SECRET=

JWT_EXPIRE_IN=


JWT_REFRESH_SECRET=

JWT_REFRESH_EXPIRES_IN=

ADMIN_EMAIL=

ADMIN_PASSWORD=


EMAIL_FROM=
EMAIL_USER=
EMAIL_PORT=
EMAIL_HOST=
EMAIL_PASS=


APPLE_KEY_ID=
APPLE_TEAM_ID=
APPLE_BUNDLE_ID=
APPLE_PRIVATE_KEY=



PAYPAL_CLIENT_ID=
PAYPAL_CLIENT_SECRET=



#stripe credentials

STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=

# for onesignal push notification

ONE_SIGNAL_APP_ID=
ONE_SIGNAL_API_KEY=
